/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  max-width: 100%;
  border: gray 1px solid;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v16/S6uyw4BMUTPHjx4wWw.ttf) format('truetype');
}
@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Lobster Regular'), local('Lobster-Regular'), url(https://fonts.gstatic.com/s/lobster/v22/neILzCirqoswsqX9zoKmNg.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Noto Serif Bold'), local('NotoSerif-Bold'), url(https://fonts.gstatic.com/s/notoserif/v8/ga6Law1J5X9T9RW6j9bNdOwzfReedA.ttf) format('truetype');
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background-color: #FFFFFF;
  font-family: -apple-system-body, BlinkMacSystemFont, 'Lato', sans-serif;
  color: #222222;
}
h1 {
  font-family: 'Lobster', cursive;
}
h2 {
  font-family: 'Noto Serif', serif;
  font-weight: bold;
}
a {
  font-family: inherit;
  color: inherit;
  text-decoration: inherit;
}
a :hover {
  color: #D3D3D3;
}
button {
  background-color: #38A1DE;
  font-family: inherit;
  font-size: 100%;
  color: inherit;
  border: none;
  border-radius: 2.5px;
  padding: 5px 20px;
}
button :hover {
  cursor: pointer;
  background-color: #FFFFFF;
  color: #38A1DE;
}
header {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/header-background.png") no-repeat bottom;
  color: #FFFFFF;
  position: relative;
}
header nav {
  display: flex;
  justify-content: space-between;
  padding: 15px 0 15px 15px;
}
header nav div {
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav div h1.logo {
  font-size: 225%;
}
@media screen and (max-width:500px) {
  header nav div h1.logo {
    padding: 1rem;
    font-size: 325%;
  }
}
header nav div div {
  font-size: 120%;
  margin: 0 15px;
}
header nav div div button {
  width: 200px;
}
@media screen and (max-width:500px) {
  header nav div div button {
    width: 100%;
    height: 4rem;
  }
}
@media screen and (max-width:500px) {
  header nav div div {
    border-top: solid 1px #FFFFFF;
    font-size: 150%;
    width: 100%;
    padding: 2rem;
  }
}
@media screen and (max-width:500px) {
  header nav div {
    flex-direction: column;
  }
}
@media screen and (max-width:500px) {
  header nav {
    flex-direction: column;
    justify-content: center;
    padding: 0;
  }
}
header div.header-message {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 45rem;
  width: 100%;
}
header div.header-message div h2 {
  font-size: 300%;
}
header div.header-message div p {
  margin-top: 10px;
  text-align: center;
  word-spacing: 1px;
  font-size: 2.4rem;
  font-weight: 300;
}
@media screen and (max-width:500px) {
  header div.header-message div {
    width: 80%;
  }
}
header div.header-message .header-message-about {
  width: 40%;
}
@media screen and (max-width:500px) {
  header div.header-message {
    height: 20rem;
  }
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  margin-top: 3rem;
  background: url("../img/footer-background.png");
}
footer div {
  width: 100%;
}
footer div h1 {
  font-size: 500%;
  margin: 5rem 0 5rem 0;
}
footer div h2 {
  font-size: 300%;
  margin-bottom: 2.5rem;
}
footer div button {
  width: 30%;
  margin-bottom: 10rem;
  font-size: 120%;
}
footer div p {
  margin-bottom: 3rem;
  font-size: 2rem;
  line-height: 1.1em;
}
section.left-container,
section.right-container {
  background-color: #222222;
  width: 100%;
  margin-top: 3rem;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: #FFFFFF;
}
section.left-container div.screenshots,
section.right-container div.screenshots {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: flex-end;
  width: 40%;
}
section.left-container div.screenshots div,
section.right-container div.screenshots div {
  margin-right: 2.5rem;
}
@media screen and (max-width:500px) {
  section.left-container div.screenshots div,
  section.right-container div.screenshots div {
    margin: 0;
  }
}
@media screen and (max-width:500px) {
  section.left-container div.screenshots,
  section.right-container div.screenshots {
    width: 100%;
    margin-top: 2rem 0 0 0;
  }
}
section.left-container div.text,
section.right-container div.text {
  width: 40%;
  margin: 5rem;
}
section.left-container div.text h2,
section.right-container div.text h2 {
  font-size: 250%;
}
@media screen and (max-width:500px) {
  section.left-container div.text h2,
  section.right-container div.text h2 {
    text-align: center;
    font-size: 300%;
  }
}
section.left-container div.text p,
section.right-container div.text p {
  margin-top: 2rem;
  font-size: 150%;
  width: 80%;
}
@media screen and (max-width:500px) {
  section.left-container div.text p,
  section.right-container div.text p {
    width: 100%;
    font-size: 200%;
  }
}
@media screen and (max-width:500px) {
  section.left-container div.text,
  section.right-container div.text {
    width: 100%;
    margin: 2rem 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
@media screen and (max-width:500px) {
  section.left-container.right-container div.screenshots div,
  section.right-container.right-container div.screenshots div {
    margin-top: 2rem;
  }
  section.left-container.right-container div.screenshots div:last-child,
  section.right-container.right-container div.screenshots div:last-child {
    display: none;
  }
}
@media screen and (max-width:500px) {
  section.left-container.left-container div.screenshots div:first-child,
  section.right-container.left-container div.screenshots div:first-child {
    display: none;
  }
}
.team-photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.team-photos div {
  background-color: #FDFAFA;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.11), 0px 1px 3px rgba(0, 0, 0, 0.08);
  width: 200px;
  text-align: center;
  margin: 20px 10px;
}
.team-photos div h2 {
  font-size: 150%;
  margin-top: 0.5rem;
}
.team-photos div p {
  margin: 0.3rem 0 0.5rem 0;
  font-size: 120%;
}
