.moreaboutus {
    height: 200px;
    background-color: @divBackground;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    // flex-direction: column;
    // align-items: center;
    justify-content: space-around;
    flex-direction: column;
    div {
        justify-self: center;
        p {
            font-size: @pSize;
            font-weight: 300;
            line-height: 1.3;
            word-spacing: 1.5px;
            color: white;
        }
    }
    div.food {
        flex-basis: 40%;
        @media @iPhone {
            padding-top: 20px;
        }
    }
    @media @iPhone {
        margin-top: 10px;
        margin-bottom: 0px;
    }
}
section.muchmore {
    background-color: @divBackground;
    height: 200px;
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    div {
        justify-self: center;
        p {
            font-size: 16px;
            color: whitesmoke;
            font-weight: 300;
            line-height: 1.3;
        }
        i {
            font-size: 10rem;
            color: dodgerblue;
        }
    }
    div.containsection {
        flex-direction: row-reverse;
        @media @iPhone {
            flex-direction: column;
        }
    }
    div.share {
        flex-basis: 40%;
        @media @iPhone {
            padding-top: 20px;
        }
    }
    @media @iPhone {
        margin-top: 10px;
        margin-bottom: 0px;
    }
}