footer {
    .centerContent();
    color:white;
    text-align:center;
    margin-top:3rem;
    background:url("../img/footer-background.png");
    div {
        width:100%;
        h1 {
            font-size:500%;
            margin:5rem 0 5rem 0;
        }
        h2 {
            font-size:250%;
            margin-bottom:2.5rem;
        }
        button {
            width:30%;
            margin-bottom:10rem;
        }
    }
}