@import url('https://fonts.googleapis.com/css?family=Lato|Lobster|Noto+Serif&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color:@bodyBackground;
  font-family:@bodyFont;
}

// html, body {
//   font-family:
// }