header {
    // background-color:@divBackground;
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/header-background.png") no-repeat bottom;
    color:@divText;
    position:relative;
    nav {
        display:flex;
        justify-content:space-between;
        padding:15px 0 15px 15px;
        div {
            .centerContent();
            h1.logo {
                font-size:225%;
                @media @iPhone {
                    padding:1rem;
                    font-size:325%;
                }
            }
            // Links
            div {
                font-size:120%;
                margin:0 15px;
                button {
                    width:200px;
                    @media @iPhone {
                        width:100%;
                        height:4rem;
                    }
                }
                @media @iPhone {
                    border-top:solid 1px @divText;
                    font-size:150%;
                    width:100%;
                    padding:2rem;
                }
            }
            @media @iPhone {
                flex-direction:column;
            }
        }
        @media @iPhone {
            flex-direction:column;
            justify-content:center;
            padding:0;
        }
    }
    div.header-message {
        .centerContent();
        text-align:center;
        height:45rem;
        width:100%;
        div {
            // text-shadow: 1px 1px @divBackground;
            h2 {
                font-size:300%;
            }
            p {
                margin-top:10px;
                text-align:center;
                word-spacing: 1px;
                font-size: 2.4rem;
                font-weight: 300;
            }
            @media @iPhone {
                width:100%;
            }
        }
        @media @iPhone {
            height:20rem;
        }
    }
    &.header-about {
       div.header-message {
           height:40rem;
           div {
               width:60%;
               @media @iPhone {
                   width:100%;
               }
           }
       }
    }
}