header {
    background-color:@divBackground;
    color:@divText;
    nav {
        display:flex;
        justify-content:space-between;
        padding:15px 0 15px 15px;
        div {
            .centerContent();
            h1.logo {
                font-size:225%;
            }
            div {
                font-size:120%;
                margin:0 15px;
                button {
                    width:200px;
                }
            }
        }
    }
    div.header-message {
        .centerContent();
        text-align:center;
        height:45rem;
        div {
            h2 {
                font-size:235%;
            }
            p {
                margin-top:10px;
                font-size:150%;
            }
        }
    }
}