header {
    // background-color:@divBackground;
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/header-background.png") no-repeat bottom;
    color:@divText;
    position:relative;
    nav {
        display:flex;
        justify-content:space-between;
        padding:15px 0 15px 15px;
        div {
            .centerContent();
            h1.logo {
                font-size:225%;
            }
            div {
                font-size:120%;
                margin:0 15px;
                button {
                    width:200px;
                }
            }
        }
    }
    div.header-message {
        .centerContent();
        text-align:center;
        height:45rem;
        width:100%;
        div {
            // text-shadow: 1px 1px @divBackground;
            h2 {
                font-size:300%;
            }
            p {
                margin-top:10px;
                text-align:left;
                word-spacing: 1.5px;
                font-size: 16px;
                font-weight: 300;
                line-height: 1.3;
            }
        }
        .header-message-about {
            width:40%;
        }
    }
}

body {
    section {
        div.headerh2 {
            align-self: center;
            h2 {
                color: white;
                font-size: 250%;
            }
        }
        div.containsection {
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-direction: row;
            div {
                justify-self: center;
            }
            @media @iPhone {
                flex-direction: column;
                text-align: center;
            }
        }
    }
    section.moreaboutus {
        height: 200px;
        background-color: #222222;
        margin-top: 30px;
        margin-bottom: 30px;
        display: flex;
        // flex-direction: column;
        // align-items: center;
        justify-content: space-around;
        flex-direction: column;
        div {
            justify-self: center;
            p {
                font-size: 16px;
                font-weight: 300;
                line-height: 1.3;
                word-spacing: 1.5px;
                color: white;
            }
            i {
                font-size:10rem;
                color: pink;
            }
        }
        div.food {
            flex-basis: 40%;
            @media @iPhone {
                padding-top: 20px;
            }
        }
        @media @iPhone {
            margin-top: 10px;
            margin-bottom: 0px;
        }
    }
    section.muchmore {
        background-color: #222222;
        height: 200px;
        margin-top: 30px;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        div {
            justify-self: center;
            p {
                font-size: 16px;
                color: whitesmoke;
                font-weight: 300;
                line-height: 1.3;
            }
            i {
                font-size: 10rem;
                color: dodgerblue;
            }
        }
        div.containsection {
            flex-direction: row-reverse;
            @media @iPhone {
                flex-direction: column;
            }
        }
        div.share {
            flex-basis: 40%;
            @media @iPhone {
                padding-top: 20px;
            }
        }
        @media @iPhone {
            margin-top: 10px;
            margin-bottom: 0px;
        }
    }
}